<!DOCTYPE html>
<html lang="en" class="<%= theme === 'dark' ? 'dark' : '' %>">
<%- include('../partials/_head.ejs') %>
<body class="bg-gray-100 dark:bg-gray-800">
<%- include('../partials/_header.ejs') %>
<main role="main" class="mt-10">
  <div class="max-w-4xl mx-auto px-4">
    <h2 class="text-2xl font-bold mb-6 text-gray-900 dark:text-gray-200">Create Comment</h2>
    <form action="/createComment" method="POST" class="bg-white dark:bg-gray-700 shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <input type="hidden" name="postId" value="<%= postId %>" />
      <div class="mb-4">
        <label for="content" class="block text-gray-700 dark:text-gray-200 text-sm font-bold mb-2">Comment:</label>
        <textarea name="content" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-200 dark:border-gray-600 leading-tight focus:outline-none focus:shadow-outline"></textarea>
      </div>
      <div class="mb-4">
        <input type="hidden" name="parentCommentId" value="<%= parentCommentId || '' %>" />
      </div>
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 dark:hover:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Post Comment</button>
      </div>
    </form>
  </div>
</main>
<%- include('../partials/_footer.ejs') %>
<script src="/js/main.js"></script>
</body>
</html>