<!DOCTYPE html>
<html lang="en" class="<%= theme === 'dark' ? 'dark' : '' %>">
<%- include('partials/_head.ejs') %>
  <body class="bg-gray-100 dark:bg-gray-800">
<%- include('partials/_header.ejs') %>
    <main role="main" class="flex justify-center items-center h-screen">
      <div class="w-full max-w-xs">
        <h2 class="text-center text-4xl font-bold mb-6 text-gray-900 dark:text-white">Login</h2>
        <% if (error) { %>
          <div class="bg-red-100 dark:bg-red-700 border border-red-400 dark:border-red-900 text-red-700 dark:text-white px-4 py-3 rounded relative mb-4" role="alert">
            <strong class="font-bold">Error!</strong>
            <span class="block sm:inline"><%= error %></span>
          </div>
        <% } %>
        <form action="/auth/login" method="POST" class="bg-white dark:bg-gray-700 shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
            <input type="text" name="username" placeholder="Username" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-300 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <div class="mb-4">
            <input type="password" name="password" placeholder="Password" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-300 mb-3 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <div class="flex flex-col items-center justify-between mb-2">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 dark:hover:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-2">Login</button>
            <hr class="my-4 w-full">
            <button type="button" onclick="location.href='/auth/google'" class="bg-red-500 hover:bg-red-700 dark:hover:bg-red-800 text-white font-bold py-2 px-4 rounded mb-4">Login with Google</button>
            <a href="/auth/forgot-password" class="text-sm text-blue-500 hover:text-blue-800 dark:hover:text-blue-400 mb-2">Forgot Password?</a>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800 dark:hover:text-blue-400" href="/auth/register">
              Don't have an account? Register
            </a>
          </div>
        </form>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
</html>