<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body class="bg-gray-100">
<%- include('partials/_header.ejs') %>
<main role="main" class="flex mt-10">
  <aside class="w-1/4 h-screen overflow-y-auto bg-gray-200">
    <div class="p-4">
      <h2 class="font-bold text-lg mb-4">Chats</h2>
      <ul id="chatList" class="divide-y divide-gray-400">
        <% chats.forEach(function(chat) { %>
          <li class="<%= selectedChatId === chat.chatId ? 'bg-gray-300' : '' %> p-2 rounded hover:bg-gray-400 cursor-pointer" onclick="selectChat('<%= chat.chatId %>')">
            <%= chat.participants.map(participant => participant.username).join(', ') %>
          </li>
        <% }); %>
      </ul>
    </div>
  </aside>
  <section class="w-3/4 h-screen overflow-y-auto p-4 bg-gray-50">
    <div id="messages" class="space-y-4">
      <% if (messages && messages.length > 0) { %>
        <% messages.forEach(function(message) { %>
          <div class="message-item <%= message.sender._id.toString() === currentUser ? 'message-item-sent' : 'message-item-received' %>">
            <p><%= message.content %></p>
          </div>
        <% }); %>
      <% } else { %>
        <p>Select a chat to view messages or start a new conversation.</p>
      <% } %>
    </div>
    <div class="mt-4">
      <form id="sendMessageForm">
        <input type="text" id="messageInput" class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Type a message...">
        <input type="hidden" id="chatId" value="<%= selectedChatId || '' %>">
        <input type="hidden" id="userId" value="<%= currentUser %>">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-2">Send</button>
      </form>
    </div>
  </section>
</main>
<%- include('partials/_footer.ejs') %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>
<script src="/js/chatListHandler.js"></script>
</body>
</html>